* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;

}

body {
    background-color: black;
    
}
a {
    color: unset;
    text-decoration: none;
}
.gradient__bg{
    /* global 92%+ browsers support */
    background: radial-gradient(circle at 12% 0%, rgba(255, 255, 255, 1) 15%, rgba(248, 153, 3, 1) 21%, rgba(141, 164, 167, 1) 48%, rgba(183, 69, 183, 1) 76%);
}
.gradient_text {
    background: var(-- gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section__padding {
    padding: 4 rem 6 rem;
}
.section__margin {
    margin: 4 rem 6 rem;
}
.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

  @media screen and (max-width: 700px) {
    .section__padding {
        padding: 4 rem;
    }
    .section__margin {
        margin: 4 rem;
    }
  }
  @media screen and (max-width: 480px) {
    .section__padding {
        padding: 4 rem 2 rem;
    }
    .section__margin {
        margin: 4 rem 2 rem;
    }
  }